<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--图像原文件地址-->
    <add key="imagesRootDir" value="D:\FTPdata\康捷雅图片\" />
    <!--图像复制后保存地址-->
    <add key="imagesDir" value="D:\imagesFailed\" />
    <!--文件夹删除路径配置-->
    <add key="DeleteDir" value="D:\imagesFailed\" />
     
  </appSettings>
  
  <connectionStrings>
    <add name="master" connectionString="Server=.;Database=ImageYQ;User Id=sa;Password=123456;Connection Timeout=3000;" />
  </connectionStrings>
</configuration>